.select-dropdown{
    width: 22%;
    padding: 10px;
}
.left{
    text-align: left;
}
.text-input{
    width: 20%;
    padding: 10px;
}
.btn-style{
    width: 20%;
    padding: 7px;
    background-color: #00aaee;
    border: none;
    color: #ffff;
}
.label{
    font-weight: 500;
}
.layout{
    margin-left: 30px;
}